html {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

p {
    color: white;
    text-align: center;
    text-transform: capitalize;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.image {
    border: 5px solid white;
    width: 100%;
}